<body style="background-color: #f2f2f2">
  <% 25.times do %>

    <span style='font-size: 36px; color: #f4dd65'><% (1..40).to_a.sample.times do %>&nbsp;<% end %>FULL CHORT</span>

  <% end %>

  <a style='font-size: 36px; color: #7f82b7; text-decoration: none;' href='http://www.maximumfun.org/tags/full-chort'>&nbsp; &nbsp; &nbsp; FULL CHORT</a>

  <% 100.times do %>

    <span style='font-size: 36px; color: #f4dd65'><% (1..40).to_a.sample.times do %>&nbsp;<% end%>FULL CHORT</span>

  <% end %>
</body>

